<?php
/**
 * Created by PhpStorm.
 * User: joe
 * Date: 9/9/2014
 * Time: 8:40 PM
 */
?>
<a href="http://www.jetbrains.com/phpstorm/"
   style="position: relative;display:block; width:127px; height:37px; border:0; margin:0;padding:0;text-decoration:none;text-indent:0;"><span
        style="margin: 0;padding: 0;position: absolute;top: 0;left: 36px;font-size: 10px;cursor:pointer;  background-image:none;border:0;color: #5854b5; font-family: trebuchet ms,arial,sans-serif;font-weight: normal;text-align:left;">Developed with</span><img
        src="http://www.jetbrains.com/phpstorm/documentation/phpstorm_banners/phpstorm1/phpstorm125x37_white.gif" alt="Developed with"
        border="0"/></a>
