// Really Zurb, would it be so much to ask to separate the @mixin's from the active SCSS?

@mixin experimental-property($prefixes, $property, $value) {
  #{$property} : $value;
  @if type-of($prefixes) != list {
    #{$prefixes}-#{$property} : $value;
  } @else {
    @each $prefix in $prefixes {
      #{$prefix}-#{$property}: $value;
    }
  }
}

@mixin box-shadow($x: 0, $y: 0, $blur: 0, $bleed: 0, $color: transparent, $inset: false) {
    @if type-of($x) != list {
        @if $inset {
            @include experimental-property(-ms, box-shadow, inset $x $y $blur $bleed $color);
        } @else {
            @include experimental-property(-ms, box-shadow, $x $y $blur $bleed $color);
        }
    } @else {
        @include experimental-property(-ms, box-shadow, $x);
    }
}

@mixin fixed-side($side, $size: 100%) {
    position: fixed;
    #{$side}: 0;
    @if index($side, (top, bottom)) != null {
        width: $size;
    } @else {
        height: $size;
    }
    // Consistent with Foundation
    z-index: 99;
}

@mixin font-face($family-name, $style-dir: null, $file: null, $category: null) {
  @if ($style-dir == null) {
    $style-dir: $family-name;
  }
  @if ($file == null) {
    $file: $family-name;
  }

  $filepath: "fonts/" + $style-dir + "/"  + $file;
  @font-face {
    font-family: "#{$family-name}";
    src: url("#{$filepath}.eot");
    src: url("#{$filepath}.eot#iefix") format("embedded-opentype"), url("#{$filepath}.woff") format("woff"),
    url("#{$filepath}.ttf") format("truetype"), url("#{$filepath}.svg##{$family-name}") format("svg");
  }

  %#{$family-name} {
    font: {
      @if ($category != null) {
        family: "#{$family-name}", #{$category} !important;
      } @else {
        family: "#{$family-name}" !important;
        weight: normal;
        style: normal;
      }
    }
  }
}
