// Settings specific for jockmac22/foundation_calendar_date_time_picker widget
@import "general";

$current-background: $kodiak-logo-tan;
$current-border: $current-background;
$current-foreground: $dark-text;
$label-height: 25px;
$large-date-picker-width: 100%;
$month-arrow-top: 10px;
$month-height: auto;
@import "../jockmac22-foundation-calendar/scss/foundation";

