@import "../../../vendor/zurb/foundation/scss/foundation/functions";

// MY SETTINGS
$text-input-types: "text", "color", "date", "datetime", "datetime-local", "email", "file", "month", "number", "password", "range", "search", "tel", "time", "url", "week";
$other-input-types: "button", "checkbox", "image", "radio", "reset", "submit";
$other-input-tags: select, textarea, button, fieldset;
$h-tags: h1, h2, h3, h4, h5, h6;

// libsass (and therefore node-sass) don't support maps yet, so each theme item must be its own variable for now.
//$kodiak-theme : (
//		logo-brown:#47292A,
//		logo-tan:#CBB676
//);
$kodiak-logo-brown: #57393A;
$kodiak-logo-tan: #CBB676;
$kodiak-logo-tan-active: lighten($kodiak-logo-tan, 25%);
$kodiak-required-color: rgb(190, 50, 20);

$dark-text: #222;
$light-text: invert($dark-text);
$primary-color: $kodiak-logo-brown;
$primary-link-color: lighten($kodiak-logo-brown, 20%);
//$secondary-link-color: darken($kodiak-logo-tan, 25%);
$alert-color: #D34D17;
$warning-color: #F2D75E;

$kodiak-footer-height: 50px;

// FOUNDATION SETTINGS
// Let's keep all the used settings up here. Do a search to find them w/ explanations below.
$total-columns: 16;
$rem-base: 16px;

$base-font-size: 100%;
$base-line-height: 150%;

//$primary-color : #008CBA;
$secondary-color: #E7E7E7;
//$alert-color : #F04124;
$success-color: #37A05C;
//$warning-color : #F08A24;
$info-color: #A0D3E8;

$any-var: rem-calc(32pt);
// We use these to make sure border radius matches unless we want it different.
$global-radius: 3px;
$global-rounded: 1000px;
