@import "../../../scss/settings/general";

// In this settings file, set the overrides for different variables.
// _settings variables using !default can be set here before @import.
// However, if a value is changed within the @import chain, reassign it AFTER @import.

// Admin
$topbar-bg-color: $alert-color;

$topbar-dropdown-bg: $topbar-bg-color;
$topbar-dropdown-label-bg: $topbar-bg-color;
$topbar-dropdown-label-color: darken($topbar-bg-color, 42.86%);
$topbar-dropdown-link-bg: $topbar-bg-color;
$topbar-dropdown-link-bg-hover: scale-color($topbar-dropdown-link-bg, $lightness: -14%);
$topbar-dropdown-link-color: $light-text;
$topbar-dropdown-link-color-hover: $light-text;
$topbar-dropdown-toggle-color: $light-text;
$topbar-dropdown-toggle-color: $light-text;

$topbar-link-bg-active: lighten($topbar-bg-color, 10%);
$topbar-link-bg-active-hover: scale_color($topbar-link-bg-active, $lightness: -14%);
$topbar-link-bg-color-hover: $topbar-link-bg-active-hover;
$topbar-link-bg-hover: darken($topbar-bg-color, 15%);
$topbar-link-color: $light-text;
$topbar-link-color-active: $light-text;
$topbar-link-color-active-hover: $light-text;
$topbar-link-color-hover: $light-text;

$topbar-menu-icon-color: $light-text;
$topbar-menu-icon-color-toggled: darken($topbar-bg-color, 37.5%);
$topbar-menu-link-color: $light-text;
$topbar-menu-link-color-toggled: darken($topbar-bg-color, 37.5%);

$include-html-classes: false;
$include-print-styles: $include-html-classes;
@import "../../../../vendor/zurb/foundation/scss/foundation/components/type";
$include-html-top-bar-classes: true;
@import "../../../../vendor/zurb/foundation/scss/foundation/components/top-bar";
