@charset "UTF-8";

@import "settings/admin";
// core.scss does the heavy lifting for including Foundation, Parsley, etc.
// In this file we just need Admin-specific CSS we don't want served to the general users.
// Override core coloring.
//.dropdown {
//    li {
//        &.active {
//            &:not(.has-form) {
//                a:not(.button) {
//                    color: $topbar-link-color-active;
//                    background: $topbar-link-bg-active;
//                    &:hover {
//                        background: $topbar-link-bg-active-hover;
//                    }
//                }
//            }
//        }
//    }
//}
