// This file shouln't be built by itself.
// It should be @import-ed after some chain leading to Foundation's @mixin's & @function's.
//
// PARSLEY UI STYLES
input.parsley-success,
select.parsley-success,
textarea.parsley-success {

}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
	@include radius;

	background-color : lighten($alert-color, 20%);
	border           : 1px solid lighten($alert-color, 18%);
	color            : darken($alert-color, 20%);
}

.parsley-errors-list {
	@include form-error-message;
	@include radius;

	line-height: 1.25em;
	-moz-opacity       : 0;
	-webkit-opacity    : 0;
	opacity            : 0;
	padding            : 0.2em;
	-moz-transition    : all .3s ease-in;
	-ms-transition     : all .3s ease-in;
	-o-transition      : all .3s ease-in;
	-webkit-transition : all .3s ease-in;
	transition         : all .3s ease-in;
}

.parsley-errors-list.filled {
	@include form-error-message;
	line-height: 1.25em;
	opacity : 1;
	padding: 0.2em;
}

//////// END PARSLEY ////////

//input.parsley-success,
//select.parsley-success,
//textarea.parsley-success {
//  color: #468847;
//  background-color: #DFF0D8;
//  border: 1px solid #D6E9C6;
//}
//
//input.parsley-error,
//select.parsley-error,
//textarea.parsley-error {
//  color: #B94A48;
//  background-color: #F2DEDE;
//  border: 1px solid #EED3D7;
//}
//
//.parsley-errors-list {
//	margin: 2px 0 3px 0;
//  padding: 0;
//	font-size: 0.9em;
//	list-style-type: none;
//  line-height: 0.9em;
//  -moz-opacity: 0;
//	-webkit-opacity: 0;
//	opacity: 0;
//
//	-moz-transition: all .3s ease-in;
//	-ms-transition: all .3s ease-in;
//	-o-transition: all .3s ease-in;
//	-webkit-transition: all .3s ease-in;
//	transition: all .3s ease-in;
//}
//
//.parsley-errors-list.filled {
//  opacity: 1;
//}
