////
// Remember to add new icons to Config
////

.im-home {
    &::before {
        content : "\e61d";
    }
    &.after {
        &::after {
            content: " \e61d";
        }
    }
}
//.im-office:before { content : "\e61e"; }
//.im-pencil:before { content : "\e600"; }
//.im-images:before { content : "\e601"; }
//.im-camera:before { content : "\e602"; }
//.im-connection:before { content : "\e61f"; }
//.im-library:before { content : "\e620"; }
//.im-file:before { content : "\e621"; }
//.im-ticket:before { content : "\e603"; }
//.im-cart:before { content : "\e604"; }
//.im-coin:before { content : "\e622"; }
//.im-envelope:before { content : "\e623"; }
//.im-location:before { content : "\e625"; }
//.im-location2:before { content : "\e626"; }
//.im-calendar:before { content : "\e605"; }
//.im-disk:before { content : "\e624"; }
//.im-busy:before { content : "\e627"; }
//.im-cog:before { content : "\e606"; }
//.im-aid:before { content : "\e607"; }
//.im-glass:before { content : "\e608"; }
//.im-food:before { content : "\e609"; }
//.im-remove:before { content : "\e60a"; }
//.im-briefcase:before { content : "\e60b"; }
//.im-menu:before { content : "\e60c"; }
//.im-warning:before { content : "\e60d"; }
//.im-notification:before { content : "\e60e"; }
.im-question {
	&::before {
		content: "\e60f";
	}
	&.after {
		&::after {
			content: " \e60f";
		}
	}
}
.im-info {
    &::before {
	    content: "\e610";
    }
    &.after {
	    &::after {
		    content: " \e610";
	    }
    }
}
//.im-info2:before { content : "\e611"; }
//.im-blocked:before { content : "\e612"; }
.im-cancel-circle {
    &::before {
        content : "\e613";
    }
    &.after {
        &::after {
            content: " \e613";
        }
    }
}
//.im-checkmark-circle:before { content : "\e614"; }
//.im-spam:before { content : "\e615"; }
//.im-close:before { content : "\e616"; }
//.im-checkmark2:before { content : "\e617"; }
//.im-checkmark:before { content : "\e618"; }
//.im-minus:before { content : "\e619"; }
//.im-plus:before { content : "\e61a"; }
.im-enter {
    &::before {
        content: "\e61b";
    }
    &.after {
        &::after {
            content: " \e61b";
        }
    }
}

.im-exit {
    &::before {
        content: "\e61c";
    }
    &.after {
        &::after {
            content: " \e61c";
        }
    }
}

//.im-checkbox-checked:before { content : "\e628"; }
//.im-checkbox-unchecked:before { content : "\e629"; }
//.im-checkbox-partial:before { content : "\e62a"; }
//.im-radio-checked:before { content : "\e62b"; }
//.im-radio-unchecked:before { content : "\e62c"; }
//.im-caret-down:before { content : "\f0d7"; }
//.im-caret-up:before { content : "\f0d8"; }
//.im-caret-left:before { content : "\f0d9"; }
//.im-caret-right:before { content : "\f0da"; }
//.im-unsorted:before { content : "\f0dc"; }
//.im-sort-down:before { content : "\f0dd"; }
//.im-sort-up:before { content : "\f0de"; }
//.im-h-square:before { content : "\f0fd"; }
.im-plus-square {
    &::before {
        content : "\f0fe";
    }
    &.after {
        &::after {
            content: " \f0fe";
        }
    }
}
//.im-shield:before { content : "\f132"; }
.im-chevron-circle-left {
    &::before {
        content : "\f137";
    }
    &.after {
        &::after {
            content: " \f137";
        }
    }
}
.im-chevron-circle-right {
    &::before {
        content : "\f138";
    }
    &.after {
        &::after {
            content: " \f138";
        }
    }
}
.im-chevron-circle-up {
    &::before {
        content : "\f139";
    }
    &.after {
        &::after {
            content: " \f139";
        }
    }
}
.im-chevron-circle-down {
    &::before {
        content : "\f13a";
    }
    &.after {
        &::after {
            content: " \f13a";
        }
    }
}
.im-minus-square {
    &::before {
        content : "\f146";
    }
    &.after {
        &::after {
            content : " \f146";
        }
    }
}
//.im-minus-square-o:before { content : "\f147"; }
.im-toggle-down {
    &::before {
        content: "\f150";
    }
    &.after {
        &::after {
            content: " \f150";
        }
    }
}

.im-toggle-up {
    &::before {
        content: "\f151";
    }
    &.after {
        &::after {
            content: " \f151";
        }
    }
}
//.im-toggle-right:before { content : "\f152"; }
//.im-toggle-left:before { content : "\f191"; }
//.im-plus-square-o:before { content : "\f196"; }
.im-automobile {
    &::before {
        content: "\f1b9";
    }
    &.after {
        &::after {
            content: " \f1b9";
        }
    }
}
.im-t-shirt {
    &::before {
        content: "\e62d";
    }
    &.after {
        &::after {
            content: " \e62d";
        }
    }
}
