// This file shouln't be built by itself.
// It should be @import-ed after some chain leading to Foundation's @mixin's & @function's.
//
@include font-face("britanic");
@include font-face("foundation-icons");
@include font-face("icomoon");

$fi-icons : '[class^="fi-"], [class*=" fi-"]';
$im-icons : '[class^="im-"], [class*=" im-"]';

#{$fi-icons} {
	font-family: "foundation-icons";
}
#{$im-icons} {
	font-family: "icomoon";
}
#{$fi-icons}, #{$im-icons} {
	font-style              : normal;
	font-variant            : normal;
	font-weight             : normal;
	line-height             : 1;
	text-decoration         : inherit;
	text-transform          : none;
	// Better Font Rendering =========== //
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;

	&.after {
		&::before {
			content: "";
		}
	}

	.top-bar-section ul li > a & {
		font-size: 1rem;
	}
	&.icon {
//		border: solid 1px currentColor;
//		border-radius   : $global-radius * 1.5;
		display         : inline-block;
		margin          : 0 0.25rem;
		padding         : 0.1em;
		text-align      : center;
		text-decoration : inherit;
//		width           : 1.2em;

		&:first-child {
			margin-left : 0;
		}
		&:last-child {
			margin-right : 0;
		}

		&.has-tip {
			border: none;
		}
	}
}

.brit {
	font-family: britanic;
}

@import "font-britanic", "font-foundation-icons", "font-icomoon";
