////
// Remember to add new icons to Config
////

/*
 * Foundation Icons v 3.0
 * Made by ZURB 2013 http://zurb.com/playground/foundation-icon-fonts-3
 * MIT License
 */

//.fi-address-book:before { content: "\f100"; }
//.fi-alert:before:before { content: "\f101"; }
//.fi-align-center:before { content : "\f102"; }
//.fi-align-justify:before { content : "\f103"; }
//.fi-align-left:before { content : "\f104"; }
//.fi-align-right:before { content: "\f105"; }
//.fi-anchor:before { content: "\f106"; }
//.fi-annotate:before { content: "\f107"; }
//.fi-archive:before { content: "\f108"; }
//.fi-arrow-down:before { content: "\f109"; }
//.fi-arrow-left:before { content: "\f10a"; }
//.fi-arrow-right:before { content: "\f10b"; }
//.fi-arrow-up:before { content: "\f10c"; }
//.fi-arrows-compress:before { content: "\f10d"; }
//.fi-arrows-expand:before { content: "\f10e"; }
//.fi-arrows-in:before { content: "\f10f"; }
//.fi-arrows-out:before { content: "\f110"; }
//.fi-asl:before { content: "\f111"; }
//.fi-asterisk:before { content: "\f112"; }
//.fi-at-sign:before { content: "\f113"; }
//.fi-background-color:before { content: "\f114"; }
//.fi-battery-empty:before { content: "\f115"; }
//.fi-battery-full:before { content: "\f116"; }
//.fi-battery-half:before { content: "\f117"; }
//.fi-bitcoin-circle:before { content: "\f118"; }
//.fi-bitcoin:before { content: "\f119"; }
//.fi-blind:before { content: "\f11a"; }
//.fi-bluetooth:before { content: "\f11b"; }
//.fi-bold:before { content: "\f11c"; }
//.fi-book-bookmark:before { content: "\f11d"; }
//.fi-book:before { content: "\f11e"; }
//.fi-bookmark:before { content: "\f11f"; }
//.fi-braille:before { content: "\f120"; }
//.fi-burst-new:before { content: "\f121"; }
//.fi-burst-sale:before { content: "\f122"; }
//.fi-burst:before { content: "\f123"; }
.fi-calendar {
	&::before {
		content: "\f124";
	}
	&.after {
		&::after {
			content: " \f124";
		}
	}
}
//.fi-camera:before { content: "\f125"; }
//.fi-check:before { content: "\f126"; }
//.fi-checkbox:before { content: "\f127"; }
//.fi-clipboard-notes:before { content: "\f128"; }
//.fi-clipboard-pencil:before { content: "\f129"; }
//.fi-clipboard:before { content: "\f12a"; }
.fi-clock {
	&::before {
		content: "\f12b";
	}
	&.after {
		&::after {
			content: " \f12b";
		}
	}
}
//.fi-closed-caption:before { content: "\f12c"; }
//.fi-cloud:before { content: "\f12d"; }
//.fi-comment-minus:before { content: "\f12e"; }
//.fi-comment-quotes:before { content: "\f12f"; }
//.fi-comment-video:before { content: "\f130"; }
//.fi-comment:before { content: "\f131"; }
//.fi-comments:before { content: "\f132"; }
//.fi-compass:before { content: "\f133"; }
//.fi-contrast:before { content: "\f134"; }
//.fi-credit-card:before { content: "\f135"; }
//.fi-crop:before { content: "\f136"; }
//.fi-crown:before { content: "\f137"; }
//.fi-css3:before { content: "\f138"; }
//.fi-database:before { content: "\f139"; }
//.fi-die-five:before { content: "\f13a"; }
//.fi-die-four:before { content: "\f13b"; }
//.fi-die-one:before { content: "\f13c"; }
//.fi-die-six:before { content: "\f13d"; }
//.fi-die-three:before { content: "\f13e"; }
//.fi-die-two:before { content: "\f13f"; }
//.fi-dislike:before { content: "\f140"; }
//.fi-dollar-bill:before { content: "\f141"; }
//.fi-dollar:before { content: "\f142"; }
//.fi-download:before { content: "\f143"; }
//.fi-eject:before { content: "\f144"; }
//.fi-elevator:before { content: "\f145"; }
//.fi-euro:before { content: "\f146"; }
//.fi-eye:before { content: "\f147"; }
//.fi-fast-forward:before { content: "\f148"; }
//.fi-female-symbol:before { content: "\f149"; }
//.fi-female:before { content: "\f14a"; }
//.fi-filter:before { content: "\f14b"; }
//.fi-first-aid:before { content: "\f14c"; }
//.fi-flag:before { content: "\f14d"; }
//.fi-folder-add:before { content: "\f14e"; }
//.fi-folder-lock:before { content: "\f14f"; }
//.fi-folder:before { content: "\f150"; }
//.fi-foot:before { content: "\f151"; }
//.fi-foundation:before { content: "\f152"; }
//.fi-graph-bar:before { content: "\f153"; }
//.fi-graph-horizontal:before { content: "\f154"; }
//.fi-graph-pie:before { content: "\f155"; }
//.fi-graph-trend:before { content: "\f156"; }
//.fi-guide-dog:before { content: "\f157"; }
//.fi-hearing-aid:before { content: "\f158"; }
//.fi-heart:before { content: "\f159"; }
//.fi-home:before { content: "\f15a"; }
//.fi-html5:before { content: "\f15b"; }
//.fi-indent-less:before { content: "\f15c"; }
//.fi-indent-more:before { content: "\f15d"; }
//.fi-info:before { content: "\f15e"; }
//.fi-italic:before { content: "\f15f"; }
//.fi-key:before { content: "\f160"; }
//.fi-laptop:before { content: "\f161"; }
//.fi-layout:before { content: "\f162"; }
//.fi-lightbulb:before { content: "\f163"; }
//.fi-like:before { content: "\f164"; }
//.fi-link:before { content: "\f165"; }
//.fi-list-bullet:before { content: "\f166"; }
//.fi-list-number:before { content: "\f167"; }
//.fi-list-thumbnails:before { content: "\f168"; }
//.fi-list:before { content: "\f169"; }
//.fi-lock:before { content: "\f16a"; }
//.fi-loop:before { content: "\f16b"; }
.fi-magnifying-glass {
	&::before {
		content : "\f16c";
	}
	&.after {
		&::after {
			content : " \f16c";
		}
	}
}
.fi-mail {
	&::before {
		content : "\f16d";
	}
	&.after {
		&::after {
			content : " \f16d";
		}
	}
}
//.fi-male-female:before { content: "\f16e"; }
//.fi-male-symbol:before { content: "\f16f"; }
//.fi-male:before { content: "\f170"; }
.fi-map {
	&::before {
		content : "\f171";
	}
	&.after {
		&::after {
			content: " \f171";
		}
	}
}
//.fi-marker:before { content: "\f172"; }
//.fi-megaphone:before { content: "\f173"; }
//.fi-microphone:before { content: "\f174"; }
//.fi-minus-circle:before { content: "\f175"; }
//.fi-minus:before { content: "\f176"; }
//.fi-mobile-signal:before { content: "\f177"; }
//.fi-mobile:before { content: "\f178"; }
//.fi-monitor:before { content: "\f179"; }
//.fi-mountains:before { content: "\f17a"; }
//.fi-music:before { content: "\f17b"; }
//.fi-next:before { content: "\f17c"; }
//.fi-no-dogs:before { content: "\f17d"; }
//.fi-no-smoking:before { content: "\f17e"; }
//.fi-page-add:before { content: "\f17f"; }
//.fi-page-copy:before { content: "\f180"; }
//.fi-page-csv:before { content: "\f181"; }
//.fi-page-delete:before { content: "\f182"; }
//.fi-page-doc:before { content: "\f183"; }
//.fi-page-edit:before { content: "\f184"; }
//.fi-page-export-csv:before { content: "\f185"; }
//.fi-page-export-doc:before { content: "\f186"; }
//.fi-page-export-pdf:before { content: "\f187"; }
//.fi-page-export:before { content: "\f188"; }
//.fi-page-filled:before { content: "\f189"; }
//.fi-page-multiple:before { content: "\f18a"; }
//.fi-page-pdf:before { content: "\f18b"; }
//.fi-page-remove:before { content: "\f18c"; }
//.fi-page-search:before { content: "\f18d"; }
.fi-page {
	&::before {
		content : "\f18e";
	}
	&.after {
		&::after {
			content : " \f18e";
		}
	}
}
//.fi-paint-bucket:before { content: "\f18f"; }
//.fi-paperclip:before { content: "\f190"; }
//.fi-pause:before { content: "\f191"; }
.fi-paw {
	&::before {
		content: "\f192";
	}
	&.after {
		&::after {
			content : " \f192";
		}
	}
}
//.fi-paypal:before { content: "\f193"; }
//.fi-pencil:before { content: "\f194"; }
.fi-photo {
	&::before {
		content: "\f195";
	}
	&.after {
		&::after {
			content : " \f195";
		}
	}
}
//.fi-play-circle:before { content: "\f196"; }
//.fi-play-video:before { content: "\f197"; }
//.fi-play:before { content: "\f198"; }
//.fi-plus:before { content: "\f199"; }
//.fi-pound:before { content: "\f19a"; }
//.fi-power:before { content: "\f19b"; }
//.fi-previous:before { content: "\f19c"; }
//.fi-price-tag:before { content: "\f19d"; }
//.fi-pricetag-multiple:before { content: "\f19e"; }
//.fi-print:before { content: "\f19f"; }
//.fi-prohibited:before { content: "\f1a0"; }
//.fi-projection-screen:before { content: "\f1a1"; }
//.fi-puzzle:before { content: "\f1a2"; }
//.fi-quote:before { content: "\f1a3"; }
//.fi-record:before { content: "\f1a4"; }
//.fi-refresh:before { content: "\f1a5"; }
//.fi-results-demographics:before { content: "\f1a6"; }
//.fi-results:before { content: "\f1a7"; }
//.fi-rewind-ten:before { content: "\f1a8"; }
//.fi-rewind:before { content: "\f1a9"; }
//.fi-rss:before { content: "\f1aa"; }
//.fi-safety-cone:before { content: "\f1ab"; }
//.fi-save:before { content: "\f1ac"; }
//.fi-share:before { content: "\f1ad"; }
//.fi-sheriff-badge:before { content: "\f1ae"; }
//.fi-shield:before { content: "\f1af"; }
//.fi-shopping-bag:before { content: "\f1b0"; }
//.fi-shopping-cart:before { content: "\f1b1"; }
//.fi-shuffle:before { content: "\f1b2"; }
//.fi-skull:before { content: "\f1b3"; }
//.fi-social-500px:before { content: "\f1b4"; }
//.fi-social-adobe:before { content: "\f1b5"; }
//.fi-social-amazon:before { content: "\f1b6"; }
//.fi-social-android:before { content: "\f1b7"; }
//.fi-social-apple:before { content: "\f1b8"; }
//.fi-social-behance:before { content: "\f1b9"; }
//.fi-social-bing:before { content: "\f1ba"; }
//.fi-social-blogger:before { content: "\f1bb"; }
//.fi-social-delicious:before { content: "\f1bc"; }
//.fi-social-designer-news:before { content: "\f1bd"; }
//.fi-social-deviant-art:before { content: "\f1be"; }
//.fi-social-digg:before { content: "\f1bf"; }
//.fi-social-dribbble:before { content: "\f1c0"; }
//.fi-social-drive:before { content: "\f1c1"; }
//.fi-social-dropbox:before { content: "\f1c2"; }
//.fi-social-evernote:before { content: "\f1c3"; }
//.fi-social-facebook:before { content: "\f1c4"; }
//.fi-social-flickr:before { content: "\f1c5"; }
//.fi-social-forrst:before { content: "\f1c6"; }
//.fi-social-foursquare:before { content: "\f1c7"; }
//.fi-social-game-center:before { content: "\f1c8"; }
//.fi-social-github:before { content: "\f1c9"; }
//.fi-social-google-plus:before { content: "\f1ca"; }
//.fi-social-hacker-news:before { content: "\f1cb"; }
//.fi-social-hi5:before { content: "\f1cc"; }
//.fi-social-instagram:before { content: "\f1cd"; }
//.fi-social-joomla:before { content: "\f1ce"; }
//.fi-social-lastfm:before { content: "\f1cf"; }
//.fi-social-linkedin:before { content: "\f1d0"; }
//.fi-social-medium:before { content: "\f1d1"; }
//.fi-social-myspace:before { content: "\f1d2"; }
//.fi-social-orkut:before { content: "\f1d3"; }
//.fi-social-path:before { content: "\f1d4"; }
//.fi-social-picasa:before { content: "\f1d5"; }
//.fi-social-pinterest:before { content: "\f1d6"; }
//.fi-social-rdio:before { content: "\f1d7"; }
//.fi-social-reddit:before { content: "\f1d8"; }
//.fi-social-skillshare:before { content: "\f1d9"; }
//.fi-social-skype:before { content: "\f1da"; }
//.fi-social-smashing-mag:before { content: "\f1db"; }
//.fi-social-snapchat:before { content: "\f1dc"; }
//.fi-social-spotify:before { content: "\f1dd"; }
//.fi-social-squidoo:before { content: "\f1de"; }
//.fi-social-stack-overflow:before { content: "\f1df"; }
//.fi-social-steam:before { content: "\f1e0"; }
//.fi-social-stumbleupon:before { content: "\f1e1"; }
//.fi-social-treehouse:before { content: "\f1e2"; }
//.fi-social-tumblr:before { content: "\f1e3"; }
//.fi-social-twitter:before { content: "\f1e4"; }
//.fi-social-vimeo:before { content: "\f1e5"; }
//.fi-social-windows:before { content: "\f1e6"; }
//.fi-social-xbox:before { content: "\f1e7"; }
//.fi-social-yahoo:before { content: "\f1e8"; }
//.fi-social-yelp:before { content: "\f1e9"; }
//.fi-social-youtube:before { content: "\f1ea"; }
//.fi-social-zerply:before { content: "\f1eb"; }
//.fi-social-zurb:before { content: "\f1ec"; }
//.fi-sound:before { content: "\f1ed"; }
//.fi-star:before { content: "\f1ee"; }
//.fi-stop:before { content: "\f1ef"; }
//.fi-strikethrough:before { content: "\f1f0"; }
//.fi-subscript:before { content: "\f1f1"; }
//.fi-superscript:before { content: "\f1f2"; }
//.fi-tablet-landscape:before { content: "\f1f3"; }
//.fi-tablet-portrait:before { content: "\f1f4"; }
//.fi-target-two:before { content: "\f1f5"; }
//.fi-target:before { content: "\f1f6"; }
//.fi-telephone-accessible:before { content: "\f1f7"; }
//.fi-telephone:before { content: "\f1f8"; }
//.fi-text-color:before { content: "\f1f9"; }
//.fi-thumbnails:before { content: "\f1fa"; }
//.fi-ticket:before { content: "\f1fb"; }
//.fi-torso-business:before { content: "\f1fc"; }
//.fi-torso-female:before { content: "\f1fd"; }
//.fi-torso:before { content: "\f1fe"; }
.fi-torsos-all-female {
	&::before {
		content: "\f1ff";
	}
	&.after {
		&::after {
			content: " \f1ff";
		}
	}
}
//.fi-torsos-all:before { content: "\f200"; }
//.fi-torsos-female-male:before { content: "\f201"; }
//.fi-torsos-male-female:before { content: "\f202"; }
//.fi-torsos:before { content: "\f203"; }
//.fi-trash:before { content: "\f204"; }
//.fi-trees:before { content: "\f205"; }
//.fi-trophy:before { content: "\f206"; }
//.fi-underline:before { content: "\f207"; }
//.fi-universal-access:before { content: "\f208"; }
//.fi-unlink:before { content: "\f209"; }
//.fi-unlock:before { content: "\f20a"; }
//.fi-upload-cloud:before { content: "\f20b"; }
//.fi-upload:before { content: "\f20c"; }
//.fi-usb:before { content: "\f20d"; }
//.fi-video:before { content: "\f20e"; }
//.fi-volume-none:before { content: "\f20f"; }
//.fi-volume-strike:before { content: "\f210"; }
//.fi-volume:before { content: "\f211"; }
.fi-web {
	&::before {
		content : "\f212";
	}
	&.after {
		&::after {
			content : " \f212";
		}
	}
}
//.fi-wheelchair:before { content: "\f213"; }
//.fi-widget:before { content: "\f214"; }
//.fi-wrench:before { content: "\f215"; }
.fi-x-circle {
    &::before {
        content: "\f216";
    }
    &.after {
        &::after {
            content: " \f216";
        }
    }
}
.fi-x {
	&::before {
		content: "\f217";
	}
	&.after {
		&::after {
			content: " \f217";
		}
	}
}
//.fi-yen:before { content: "\f218"; }
//.fi-zoom-in:before { content: "\f219"; }
//.fi-zoom-out:before { content: "\f21a"; }
