// This file shouln't be built by itself.
// It should be @import-ed after some chain leading to Foundation's @mixin's & @function's.
//
@import "settings/general";

$pulse-color-alert: lighten($alert-color, 20%);
$pulse-color-success: lighten($success-color, 20%);
$pulse-color-warning: $warning-color;

@-moz-keyframes error-pulse {
    50% {
        background-color: $pulse-color-alert;
    }
}

@-ms-keyframes error-pulse {
    50% {
        background-color: $pulse-color-alert;
    }
}

@-o-keyframes error-pulse {
    50% {
        background-color: $pulse-color-alert;
    }
}

@-webkit-keyframes error-pulse {
    50% {
        background-color: $pulse-color-alert;
    }
}

@keyframes error-pulse {
    50% {
        background-color: $pulse-color-alert;
    }
}

@-moz-keyframes success-pulse {
    50% {
        background-color: $pulse-color-success;
    }
}

@-ms-keyframes success-pulse {
    50% {
        background-color: $pulse-color-success;
    }
}

@-o-keyframes success-pulse {
    50% {
        background-color: $pulse-color-success;
    }
}

@-webkit-keyframes success-pulse {
    50% {
        background-color: $pulse-color-success;
    }
}

@keyframes success-pulse {
    50% {
        background-color: $pulse-color-success;
    }
}

@-moz-keyframes warning-pulse {
    50% {
        background-color: $pulse-color-warning;
    }
}

@-ms-keyframes warning-pulse {
    50% {
        background-color: $pulse-color-warning;
    }
}

@-o-keyframes warning-pulse {
    50% {
        background-color: $pulse-color-warning;
    }
}

@-webkit-keyframes warning-pulse {
    50% {
        background-color: $pulse-color-warning;
    }
}

@keyframes warning-pulse {
    50% {
        background-color: $pulse-color-warning;
    }
}

.pulse-result {
    -webkit-transition: background-color 0.5s ease-out;

    &.success {
        -moz-animation-name: success-pulse;
        -moz-animation-iteration-count: 1;
        -moz-animation-duration: 2s;
        -ms-animation-name: success-pulse;
        -ms-animation-iteration-count: 1;
        -ms-animation-duration: 2s;
        -o-animation-name: success-pulse;
        -o-animation-iteration-count: 1;
        -o-animation-duration: 2s;
        -webkit-animation-name: success-pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: 1;
        animation-name: success-pulse;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }

    &.error, &.alert {
        -moz-animation-name: error-pulse;
        -moz-animation-iteration-count: 1;
        -moz-animation-duration: 2s;
        -ms-animation-name: error-pulse;
        -ms-animation-iteration-count: 1;
        -ms-animation-duration: 2s;
        -o-animation-name: error-pulse;
        -o-animation-iteration-count: 1;
        -o-animation-duration: 2s;
        -webkit-animation-name: error-pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: 1;
        animation-name: error-pulse;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }

    &.warning {
        -moz-animation-name: warning-pulse;
        -moz-animation-iteration-count: 1;
        -moz-animation-duration: 2s;
        -ms-animation-name: warning-pulse;
        -ms-animation-iteration-count: 1;
        -ms-animation-duration: 2s;
        -o-animation-name: warning-pulse;
        -o-animation-iteration-count: 1;
        -o-animation-duration: 2s;
        -webkit-animation-name: warning-pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: 1;
        animation-name: warning-pulse;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }
}

