@charset "UTF-8";
// Active SCSS imports
//@import "normalize";
// Settings, mixins, etc.
@import "normalize", "settings/general", "foundation", "fonts", "libs/parsley-ui", "keyframes";

%radius {
    @include radius;
}

%input-basics {
    &[data-parsley-id] {
        margin-bottom: 0.2rem;
    }

    &[disabled], &[readonly] {
        cursor: not-allowed;
    }
}

%text-input-basics {
    @extend %radius;

    &[readonly] {
        background-color: #ddd;
    }
}

// Extend-only Selectors
%required-box {
    color: $kodiak-required-color;
    &::before {
        color: $kodiak-required-color;
        content: "*\00a0";
    }
}

%required-input {
    box-shadow: inset 0 1px 2px transparentize($kodiak-required-color, 0.4);
    &:focus {
        background-color: transparentize($kodiak-required-color, 0.95);
        border-color: $kodiak-required-color;
        box-shadow: 0 0 5px transparentize($kodiak-required-color, 0.7);
    }
}

// ALl-pages CSS
//// New box-sizing reset
:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, [id="body-wrap"] {
    min-height: 100%;
    position: relative;
}

a {
    @each $h in $h-tags {
        &.#{$h} {
            @extend #{$h}; // !optional;
            margin: 0;
            padding: 1rem;
        }
    }

    &:link, &:active, &:visited {
        @include single-transition;
        border-bottom: solid 1px transparentize($primary-link-color, 0.7);
        color: $primary-link-color;
    }

    &:hover {
        border-bottom: solid 1px transparentize($primary-link-color, 0.3);
        color: darken($primary-link-color, 10%);
    }

    &:not([href]), &[href=""], &[href="javascript:;"], &[href="javascript:void(0);"], &[href^="#"] {
        &:link, &:active, &:focus, &:visited, &:hover {
            &:not(.ui-state-default, .ui-state-hover){
                border-bottom: none;
            }
        }
    }
    &:not([href]), &[href=""], &[href="javascript:;"], &[href="javascript:void(0);"] {
        cursor: default;
    }

    .alert-box &.close, &.close-reveal-modal {
        border: none;
    }
}

address {
    line-height: 1.2;
    margin-bottom: 1rem;
}

@each $type in join($text-input-types, $other-input-types) {
    input[type="#{$type}"] {
        @if (null != index($type, $text-input-types)) {
            @extend %text-input-basics;
        }

        @extend %input-basics;
        // Yeah, apparently Foundation doesn't let an INPUT just be itself, forcing it to display:block
        // So specificity doesn't let it respect classes that would alter that.
        &.hide {
            @extend .hide;
        }
    }
}
// File isn't included in Foundation's input formatting core...
input[type="file"] {
    // "file" is on the text-types list, so we don't need to @extend here.
    // @extend input[type="text"];
    padding: 0;
}

@each $input in $other-input-tags {
    #{$input} {
        @extend %radius;
    }
}

.accordion-navigation {
    @each $h in $h-tags {
        > a.#{$h} {
            @extend a.#{$h};
        }
    }
    &.short-pad {
        > a {
            padding: 0.5rem 1rem;
        }
    }
    &:first-child {
        > a {
            @include side-radius(top, 0.5rem);
        }
        &.active > a {
            @include radius(0.5rem);
        }
    }
    &:last-child > a,
    & + &.active > a {
        @include side-radius(bottom, 0.5rem);
    }
}

.alert-box .close * {
    line-height: 0;
}

.button-row.row {
	padding: 1.25rem 0;
}

// .calendar happens after an input is wrapped for the datepicker widget.
input, select, textarea, .calendar {
    // All siblings (immediate & indirect) receive the baseline rules
	& ~ .error-message {
		@extend input.parsley-error;
		@include form-error-message;

		line-height: 1.25em;
		margin: 0;
		padding: 0.2em;
	}
	& ~ .error-message,
	& ~ .error-message * {
		font-size: 0.75rem;
	}
    // Immediate siblings need a margin adjustment.
    &:not(.calendar) + .error-message {
        margin: -1rem 0 0;
    }
}

//input.check-reveal {
//    display: none;
//
//    input[type="checkbox"]:checked ~ &,
//    input[type="radio"]:checked ~ & {
//        display: initial;
//    }
//}
//.dropdown {
//	li {
//		&.active {
//			&:not(.has-form) {
//				a:not(.button) {
//					color      : $topbar-link-color-active;
//					background : $topbar-link-bg-active;
//					&:hover { background : $topbar-link-bg-active-hover; }
//				}
//			}
//		}
//	}
//}

.nowrap {
    white-space: nowrap;
}

.panel-tan {
    @include panel($kodiak-logo-tan);
}

// Fix for missing span selector in _forms.scss:448
//#{data('abide')} {
//  .error span.error {
//    @include form-error-message;
//  }
//}

#{data("reveal")} {
    @include radius($global-radius * 6);
    background-color: $kodiak-logo-tan-active;
    border: solid thick darken($kodiak-logo-tan-active, 40%);

    a.close-reveal-modal {
        color: darken($kodiak-logo-tan-active, 40%);
    }
    @each $status in ("alert", $alert-color), ("success", $success-color), ("warning", $warning-color) {
        $trim-color: darken(nth($status, 2), 20%);
        &.#{nth($status, 1)} {
            background-color: lighten(nth($status, 2), 40%);
            border: solid thick $trim-color;
            color: darken(nth($status, 2), 30%);
            a.close-reveal-modal {
                color: $trim-color;
            }
        }
    }
}

#{data("tab")} {
    > dd {
//        display: table-cell;
//        float: none;

        a {
            border: none;
        }

        &.active {
            > a {
                @include box-shadow(0, -3px, 3px, -3px, transparentize($kodiak-logo-brown, 0.4), true);
            }
        }
    }
}
.tabs-content {
    @include box-shadow(0, -5px, 5px, -2px, transparentize($kodiak-logo-brown, 0.4));
}

// Node lib-sass doesn't support some recent SASS features
//@media($medium) {
//	.map-container {
//		height : 400px;
//		@at-root (without: media) {
//			height : 200px;
//		}
//	}
//}

.indent {
    text-indent: 1.5em;
}

.map-container {
    height: 250px;
}

// Apparently, no one thought to make .radius a general-use class.
.radius {
    @extend %radius;
}

.radius-top {
    @include side-radius(top);
}

.round-top {
    @include side-radius(top, 1rem);
}

.vertical-center {
    display: table-cell;
    min-height: 1px;
    vertical-align: middle;
}

div.p {
    @extend p; // !optional;
}

div.required {
    > label {
        @extend %required-box;
    }
    &.outside {
        &-left, &-right {
            > label::before {
                position: absolute;
            }
        }
        &-left > label::before {
            left: 0;
        }
        &-right > label::before {
            right: 0;
        }
    }

    @each $type in $text-input-types {
        input[type='#{$type}'] {
            @extend %required-input;
        }
    }
    select, textarea {
        @extend %required-input;
    }
}

.required-sample {
    @extend %required-box;
}

header, header > div.fixed {
    @include box-shadow(0, 5px, 5px, -2px, transparentize($kodiak-logo-brown, 0.4));
}

[id="top-nav"] {
    //	&:before, &::before {
    //		border-bottom: solid 3px darken($topbar-bg-color, 25%);
    //		bottom: -3px;
    //		content: "";
    //		position: absolute;
    //		width: 100%;
    //	}

    a {
        &:link, &:active, &:focus, &:visited, &:hover {
            border-bottom: none;
        }
    }

    .icon {
        font-size: 150%;
    }

    .title-area {

        > .name h1 {
            line-height: 1;

            a {
                padding-left: 0;

                img {
                    height: $topbar-height;
                }
            }
        }
    }
}

[id="main-body"] {
    padding-bottom: $kodiak-footer-height / 2;
}

// #ID selector to force specificity for color settings.
#search-box {
    $bg-color: darken($kodiak-logo-tan-active, 10%);
    @include single-transition(opacity, 250ms, linear);
    background-color: $bg-color;
    opacity: 0;

    &::before {
        border-color: transparent transparent $bg-color;
    }

    &.open {
        opacity: 1;
    }

    input, .button, button {
        top: 0;
    }

    li {
        &:hover {
            background-color: transparent;
            cursor: default;
        }
    }
}

// BEGIN MEDIA QUERIES FOR MEDIUM+ DISPLAYS
@media #{$medium-up} {
    footer {
        @include box-shadow(0, -2px, 5px, 0, transparentize($kodiak-logo-brown, 0.6));
        //  @include fixed-side(bottom);
	    bottom: 0;
	    background-color: $kodiak-logo-tan;
	    min-height: $kodiak-footer-height;
	    position: absolute;
	    width: 100%;
    }

	.map-container {
        height: 400px;
    }

    [id="main-body"] {
        padding-bottom: $kodiak-footer-height * 2;
    }

    [id="search-box"] {
        @include radius(1rem);
    }
}

@media only aural {
    #{$fi-icons}, #{$im-icons} {
        speak: none;
    }
}
