@charset "UTF-8";
@import "settings/datepicker";

.calendar {
    .selector {
        .date-selector, .time-selector {
            @include radius;
        }
    }
    .date-picker {
        .header {
            .month-nav {
                border: none;
            }
        }
    }
}
